<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" 
      content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポートフォリオ</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <nav class="navigation">
          <ul>
            <li><a href="#">ホーム</a></li>
            <li><a href="#">アプリ一覧</a></li>
            <li>研修終了まであと35日</li>
            <li>ログアウト</li>
          </ul>
        </nav>
      </header>
    <div class="all_container">
    <div class="first_container">
        <h2>わい</h2>
        <div class="first_container_1">
            <h2>自己紹介</h2>
            <div class="portfolio">
            <span class="text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</span>
            </div>
        </div>
    </div>

    <div class="second_container">
        <h2>ゆう</h2>
        <div class="second_container_1">
            <h2>自己紹介</h2>
            <div class="portfolio">
            <span class="text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</span>
            </div>
        </div>
    </div>
    <div class="third_container">
        <h2>あき</h2>
        <div class="third_container_1">
            <h2>自己紹介</h2>
            <div class="portfolio">
            <span class="text">hogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehogehoge</span>
            </div>
        </div>    
    </div>
    <div class="side_container">
        <ul>
            <li>あああ</li>
        </ul>

    </div>

    </div>

</body>
</html>