<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>誕生日推論ゲーム！</title>
</head>
<body>
    <div class="root_container"><!--root_container START-->
        <div class="main_container"><!--main_container START-->
            <h2><!--thでユーザ名取ってくる-->
                9回の質問以内にたいきの誕生日を当てよう！
            </h2>
            <form>
                <input type="text" placeholder="MM/ddの形式で入れてね">
                <button value="回答"></button>
            </form>
            <span>当たり！</span>

        </div><!--main_container END-->
    </div><!--root_container END-->
</body>
</html>