@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body{
    background-image:url('img/background_cloud.png');
    background-repeat:  repeat;
    color: #090909;
    font-family: 'Caveat', cursive ,"Kokoro";
    font-size: 13px;
    text-size-adjust: 100%;
    
}
@media screen and (max-width:480px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    body{
        width: 100%;
    }
}


/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#333;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width:260px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*========= レイアウトのためのCSS START===============*/

#container{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*========= レイアウトのためのCSS END===============*/

.a{
    text-decoration: none;
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent; 
}

.title{
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: x-large;
    padding: 30px 0px 5px 0px;
}

.name{
    font-family: "Nikukyu";
    text-align: center;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}



li{
    display: inline;
}

ul:not(.browser-default)>li {
    list-style-type: none;
}

.root_container{
    width: auto;
    height: auto;
}

.all_container{
    display: flex;
    width: 960px;
    margin: 0 auto;
    height: auto;
    background: aliceblue;
}

.text{
    word-break: break-all;
    overflow-wrap : break-word;
    padding: 0px 15px 0px 15px;
}


.first_container{
    position: relative;
    margin-left: 20px;
    width: 300px;
    height: auto;
}

.first_container_1{
    position: relative;
    background-color: #fff;
    height: auto;
    width: 290px;
    margin: 15px 0px 0px 0px;

}

.second_container{
    position: relative;
    margin-left: 20px;
    width: 300px;
    height: auto;
}

.second_container_1{
    position: relative;
    background-color: #fff;
    height: auto;
    width: 290px;
    margin: 15px 0px 0px 0px;

}

.third_container{
    position: relative;
    margin-left: 20px;
    width: 300px;
    height: auto;
}

.third_container_1{
    position: relative;
    background-color: #fff;
    height: auto;
    width: 290px;
    margin: 15px 0px 0px 0px;

}

.portfolio{
    padding: 10px;
    margin-bottom: 15px;
}

.portfolio_sub{
    background-color: #ffc0cb94;
    padding: 5px 5px 5px 5px;
}

.title{
    margin: 0px 0px 0px 0px;
}

.all_container_2{
    width: 960px;
    margin: 0 auto;
    height:400px;
    background: aliceblue;
}


.all_container_3{
    width: 960px;
    margin: 0 auto;
    height:400px;
    background: aliceblue;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
     width:94%;
     margin:0 auto;
 }
 
 .slider img {
     width:100%;/*スライダー内の画像を横幅100%に*/
     height: 250px;
     margin-top: 60px;
 }
 
 /*slickのJSで書かれるタグ内、スライド左右の余白調整*/
 
 .slider .slick-slide {
     margin:0 10px;
 }
 
 /*矢印の設定*/
 
 /*戻る、次へ矢印の位置*/
 .slick-prev, 
 .slick-next {
     position: absolute;/*絶対配置にする*/
     top: 42%;
     cursor: pointer;/*マウスカーソルを指マークに*/
     outline: none;/*クリックをしたら出てくる枠線を消す*/
     border-top: 2px solid #666;/*矢印の色*/
     border-right: 2px solid #666;/*矢印の色*/
     height: 15px;
     width: 15px;
 }
 
 .slick-prev {/*戻る矢印の位置と形状*/
     left: -1.5%;
     transform: rotate(-135deg);
     margin-top: 45px;
 }
 
 .slick-next {/*次へ矢印の位置と形状*/
     right: -1.5%;
     transform: rotate(45deg);
     margin-top: 45px;
 }
 
 /*ドットナビゲーションの設定*/
 
 .slick-dots {
     text-align:center;
   margin:20px 0 0 0;
 }
 
 .slick-dots li {
     display:inline-block;
   margin:0 5px;
 }
 
 .slick-dots button {
     color: transparent;
     outline: none;
     width:8px;/*ドットボタンのサイズ*/
     height:8px;/*ドットボタンのサイズ*/
     display:block;
     border-radius:50%;
     background:#ccc;/*ドットボタンの色*/
 }
 
 .slick-dots .slick-active button{
     background:#333;/*ドットボタンの現在地表示の色*/
 }
 
 
 /*========= レイアウトのためのCSS ===============*/
  ul{
   margin:0;
   padding: 0;
   list-style: none;
 }
 
 a{
   color: #333;
 }
 
 a:hover,
 a:active{
   text-decoration: none;
 }